{% extends "base.html" %}

{% block title %}PTM Displayer{% endblock %}

{% block content %}
<body>
    <div class="container">
        <h2>Interactive PTM Displayer</h2>
        <label for="protein1">Select Protein 1:</label>
        <select id="protein1"></select>

        <label for="protein2">Select Protein 2:</label>
        <select id="protein2"></select>

        <svg id="ptm-graph"></svg>
    </div>

    <div id="tooltip" style="display: none; position: absolute;"></div>
</body>

<!-- Load PTM Data BEFORE the main script -->
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="{{ url_for('static', filename='gene_lengths.js') }}"></script>
<script src="{{ url_for('static', filename='ptm_data.js') }}"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
